{% extends "base.html" %}

{% block conteudo %}
    Nome: {{dados.nome}}
    Email: {{dados.email}}
    {% if dados.idade >= '18' %}
        <h5>Voce pode tirar carteirade motorista</h5>
    {% else %}
        <h5>Aguarde um pouco mais</h5>
    {% endif %}

    <table>
        <tr>
            <td>Disciplina</td>
        </tr>
        {% for disciplina in dados.getlist('disciplina') %}
            <tr>
                <td>{{disciplina}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}